<section class="index-page">
    <h1>Food & Recipe app</h1>
    <form action="/">
        <input placeholder="Recipe" id="recipe" name="recipe"/>
        <input placeholder="Ingredients" id="ingredients" name="ingredients"/>
        <select id="time" name="time">
            <option value="">All cooking times</option>
            {{#each cookingTimes}}
                <option value="{{this}}">{{this}} minutes</option>
            {{/each}} 
        </select>
        <button type="submit">Apply filter</button>
        <a href="/">Clear filters</a>
    </form>
     {{#if total}} 
        <table style="width:100%">
            <tr>
                <td><h4>Name</h4></td>
                <td><h4>Cooking Time</h4></td>
                <td><h4>Main Ingredients</h4></td>
            </tr>
            {{#each docs}}
                <tr>
                    <td>
                        <a href="/{{_id}}">{{name}}</a>
                    </td>
                    <td>{{cookingTime}} minutes</td>
                    <td>{{ingredients}}</td>
                </tr>
            {{/each}}
            <tr>
                <td><small>Found {{total}} recipes.</small></td>
            </tr>
        </table>
        <div class="pagination">
            {{#each pagination}}
                {{#if (eq ../page number)}}
                    <a href="#" class="pagination__item--disabled">{{number}}</a>
                {{else}}
                    <a href="{{url}}" class="pagination__item">{{number}}</a>
                {{/if}}
            {{/each}}
        </div>
     {{else}}
        <p>Sorry, nothing matched your filter term</p>
        {{!-- <p>Sorry, we currently have no recipes for you</p> --}}
    {{/if}} 
</section>

