<section>
    <h1>Food / recipe app</h1>
     {{#if total}} 
        <form action="/">
            <input placeholder="Recipe" id="recipe" name="recipe"/>
            <input placeholder="Ingredients" id="ingredients" name="ingredients"/>
            <select id="time" name="time">
                <option value="">All cooking times</option>
                {{#each cookingTimes}}
                    <option value="{{this}}">{{this}} minutes</option>
                {{/each}} 
            </select>
            <button type="submit">Submit filter</button>
        </form>
        <table style="width:100%">
            <tr>
                <td><h4>Recipe name: </h4></td>
                <td><h4>Cooking time: </h4></td>
                <td><h4>Ingredients: </h4></td>
            </tr>
            {{#each docs}}
                <tr>
                    <td>
                        <a href="/{{_id}}">{{name}}</a>
                    </td>
                    <td>{{cookingTime}} minutes</td>
                    <td>{{ingredients}}</td>
                </tr>
            {{/each}}
            <tr>
                <td><small>recipes found: {{count}}</small></td>
            </tr>
        </table>
        <div class="pagination">
            {{#each pagination}}
                <a href="{{url}}">{{number}}</a>
            {{/each}}
        </div>
     {{else}}
        <p>Sorry, we currently have no recipes for you</p>
    {{/if}} 
</section>

